.back{
    background: linear-gradient(to right,rgba(0,0,0,.4),rgba(0,0,0,.5))
    ,url('./edusmithBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}