.loginbox{
    width: 620px;
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: "Mada";    
}

.imagebox{
    width: 100%;
    padding: 20px;
}
.gradientBack{
   background-image: url(../../images/back.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center;
   filter: blur(6px);
    
}